#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    gap: 1rem;
}

#login-form h2 {
    color: var(--color-primary);
    font-size: var(--font-size-lg);
    margin-bottom: 1rem;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1em;
}

.form-item label {
    font-weight: bold;
    font-size: var(--font-size-base);
}

.form-item input {
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    padding: 5px;
}

.submit-btn {
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-base);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.error-message {
    color: var(--color-danger);
    font-size: var(--font-size-sm);
    margin-top: 1rem;
}